<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Millenial Messenger</title>
  <script src="/static/js/jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body>
  <div class="main">
    <div class="banner"></div>
      <h1 class="center">Millenial Messenger</h1></div>
      <div id="messageList" class="center"></div>
      <form class="center">
        <textarea class="center textBox" type="text" type="textarea" id="messageForm"></textarea>
        <br>
        <button id="send">Send</button>
      </form>
    </div>
  </div>
  <script src="/static/js/index.js"></script>

</body>

</html>
