<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GloboMessenger</title>
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/simple-sidebar.css">
  <link rel="stylesheet" href="/static/css/dropdown.css">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body class="background">
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul id="sidebar" class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">GloboMessenger</a>
        </li>
        <li>
          <form id="createChannel">
            <input class="channelForm" type="text" placeholder="Channel name" id="channelForm" onkeydown="if (event.keyCode == 13) return false;" >
            <li class="addChannel"><button id="addPublicChannel" class="createChannelButton">Create Public Channel</button></li>
            <li class="addChannel"><button id="addPrivateChannel" class="createChannelButton">Create Private Channel</button></li>
          </form>
          <br />
          <li style="color: white">Channels</li>
          <div id="sidebar-channels"></div>
          </li>
      </ul>
    </div>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="jumbotron map">
          <h1 class="h1">GloboMessenger</h1>
        </div>
        <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Channels</a>
        <div id="currentChannel" class="currentChannel"></div>
        <div class="main-page" id="page"></div>
        <div class="center" id="error-messages"></div>
      </div>
    </div>
  </div>


</body>
<footer>
  <script src="/static/js/jquery-3.2.1.js"></script>
  <script src="/static/vendor/jquery/jquery.js"></script>
  <script src="/static/vendor/popper/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/error.js"></script>
  <script src="/static/js/languages.js"></script>
  <script src="/static/js/language.js"></script>
  <script src="/static/js/request.js"></script>
  <script src="/static/js/session.js"></script>
  <script src="/static/js/channel.js"></script>
  <script src="/static/js/user.js"></script>
  <script src="/static/js/loginForm.js"></script>
  <script src="/static/js/render.js"></script>
  <script src="/static/js/index.js"></script>
</footer>
</html>
