<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Millenial Messenger</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/js/bootstrap.min.js">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body>
  <div class="container">

    <div class="center">
      <h1 class="center">Millenial Messenger</h1>
    </div>
    <div id="sideBar"></div>
    <div class="center" id="page"></div>
    <center class="center">
      <div class="center" id="message"></div>
    </center>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/jquery-3.2.1.js"></script>

</div>
</body>

</html>
