.dropbtn {
	background-color: white;
	color: black;
	font-size: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	height: auto;
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	size: 6;
	overflow-x: hidden;
	text-align: center;
	max-height: 310px;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
	max-height: 250px;
	/* you can change as you need it */
	overflow: auto;
	/* to get scroll */
}

/* Links inside the dropdown */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	background-color: white;
}
