.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.addChannel {
	color: rgb(186, 255, 229);
}

.buttonAndChannel {
	background-color: blue;
}

.currentChannel {
	margin: 0;
	text-align: center;
	position: absolute;
	margin-top: 5px;
	max-width: 12%;
}

.background {
	background-color: rgb(238, 249, 255);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.createChannelButton {
	background: none !important;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	border-bottom: 1px solid #444;
	cursor: pointer;
}

.h1 {
	text-align: center;
}

.main-page {
	text-align: center;
}

.login {
	margin: 5%;
}

.login span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.login span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.login:hover span {
	padding-right: 25px;
}

.login:hover span:after {
	opacity: 1;
	right: 0;
}

.map {
	background-image: url("./../images/world-map.jpg");
	text-shadow: 1px 1px white;
	border-radius: 25px;
	box-shadow: 0 0 10px black;
}

.message-form {
	border-radius: 10px;
	padding: 5px;
}

.name-input {
	font-family: "Helvetica";
	font-size: 20px;
	color: rgb(27, 29, 43);
}

.text-box {
	margin: 0px;
	box-shadow: 1px 1px grey;
	border-radius: 10px;
}

.message {
	display: block;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.time {
	display: block;
	float: right;
	margin-left: 10px;
}

.usernameForm {
	border-radius: 10px;
}

.message-list {
	max-height: 300px;
	min-height: 300px;
	height: inherit;
	border: 1px solid black;
	overflow: auto;
	background-color: white;
	box-shadow: 0 0 5px grey;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
	max-width: 80%;
	font-size: inherit;
	text-align: center;
}

.author {
	font-weight: bold;
}

#send {
	margin: 10px;
}

hor {
	font-weight: bold;
}

h1 {
	max-width: inherit;
}

or {
	font-weight: bold;
}
