.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.addChannel {
	color: rgb(186, 255, 229);
}

.currentChannel {
	text-align: center;
	padding: 20px;
}

.background {
	background-color: rgb(238, 241, 231);
}

.createChannelButton {
	background: none !important;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	/*border is optional*/
	border-bottom: 1px solid #444;
	cursor: pointer;
}

.h1 {
	text-align: center;
}

.main-page {
	text-align: center;
}

.login {
	margin: 5%;
}

.map {
	background-image: url("./../images/world-map.jpg");
	text-shadow: 1px 1px white;
	border-radius: 25px;
}

.message-form {
	border-radius: 10px;
	padding: 5px;
}

.text-box {
	margin: 0px;
}

.message-list {
	padding: 5%;
	margin: 10px;
	max-height: 300px;
	width: auto;
	border: 1px solid #ccc;
	overflow: auto;
	background-color: white;
}

.author {
	font-weight: bold;
}

#send {
	margin: 10px;
}
