.clear {
  clear: both;
}

.main {
  width: auto;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.banner {
  background: blue;
  width: auto;
  height: 92px;
}

.left {
  float: left;
  width: auto;
  background: red;
  color: white;
}

.right {
  float: right;
  width: 350px;
  background: yellow;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.textBox {
  background: white;
  width: auto;
}

h1 {
  font-family: "Verdana"
}

.messageList {
  width: auto;
  border: 50px;
}

.message {
  font-family: "Verdana";
  width: 50%;
}

#sideBar {
  position: absolute;
  top: 152px;
  bottom: 0;
  left: 0;
  width: 200px;
  border-style: solid;
  border-width: 1px;
}

#page {
    position: absolute;
    left: 200px;
    top: 152px;
    width: 800px;
    border-style: solid;
    border-width: 1px;
}
